{{ 'xb-2fd597d2.min.css' | asset_url | stylesheet_tag }}<section
      class="xb-section id_m9knmccl77672" style="--xb-section-z-index:1;--xb-section-width-desktop:100%;--xb-section-width-tablet:100%;--xb-section-width-mobile:100%;--xb-section-position-type:relative;--xb-section-background-gradient-animated-duration:10s;"   
      data-xb-section-id="id_m9knmccl77672"
      data-xb-scroll-id="id_m9knmccl77672"
      data-xb-section-global="false"
      xo-preset="1685691814"
    >
      
  <div class="xb-container" >
    <div
  class="xb-timeline id_m9knmccl826fi xb-timeline--modifier-03"
  style="--xb-timeline-color:rgba(49, 58, 224, 1);"
>
  <div
  class="xb-timeline__content xb-timeline__content--odd xb-timeline__content--first id_m9knmccl83bs1" style="--xb-timeline-color:rgba(49, 58, 224, 1);"   
>
  <div class="xb-timeline__marker id_m9knmccl84q4z"><div
  class="xb-icon xb-icon--modifier-01 id_m9knmccl850pc"   
>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"/></svg>
</div>
</div>
<div
  class="xb-wrapper xb-timeline__block id_m9knmccl86yut" style="--xb-wld:column;--xb-wvsd:0undefined;--xb-whsd:15px;--xb-wvst:0undefined;--xb-wvsm:0undefined;--xb-whst:15px;--xb-whsm:15px;--xb-wwd:100%;--xb-wwt:100%;--xb-wwm:100%;--xb-wvad:none;--xb-wvat:none;--xb-wvam:none;--xb-whad:start;--xb-what:start;--xb-wham:start;--xb-wwrd:wrap;--xb-wwrt:wrap;--xb-wwrm:wrap;--xb-wz:1;--xb-wpt:relative;"   
  
>
  <h3
  class="xb-heading xb-h3 id_m9knmccl87yyc" style="--color-hover:#12b939;--line-color:#12b939;--line-height:1px;"   
>
  <div
    class="xb-heading__text"
    
    text-binding="title"
    tabindex="-1"
  >
    <p>OPENING</p>
  </div>
</h3>
<div
  class="xb-paragraph xb-typo id_m9knmccl88v8f" style="--xb-paragraph-drop-cap-color:#fc1010;--xb-paragraph-drop-cap-size-desktop:50px;"   
  tabindex="-1"
>
  <div text-binding="text"><p>It all began with the Santa Teresa family a magical time where the journey started, and the fun never stopped...</p></div>
</div>

  
  
</div>

</div>
<div
  class="xb-timeline__content xb-timeline__content--even id_m9knmccl89g4j" style="--xb-timeline-color:rgba(49, 58, 224, 1);"   
>
  <div class="xb-timeline__marker id_m9knmccl90bgh"><div
  class="xb-icon xb-icon--modifier-01 id_m9knmccl91g17"   
>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"/></svg>
</div>
</div>
<div
  class="xb-wrapper xb-timeline__block id_m9knmccl92pq5" style="--xb-wld:column;--xb-wvsd:0undefined;--xb-whsd:15px;--xb-wvst:0undefined;--xb-wvsm:0undefined;--xb-whst:15px;--xb-whsm:15px;--xb-wwd:100%;--xb-wwt:100%;--xb-wwm:100%;--xb-wvad:none;--xb-wvat:none;--xb-wvam:none;--xb-whad:start;--xb-what:start;--xb-wham:start;--xb-wwrd:wrap;--xb-wwrt:wrap;--xb-wwrm:wrap;--xb-wz:1;--xb-wpt:relative;"   
  
>
  <h3
  class="xb-heading xb-h3 id_m9knmccl93bev" style="--color-hover:#12b939;--line-color:#12b939;--line-height:1px;"   
>
  <div
    class="xb-heading__text"
    
    text-binding="title"
    tabindex="-1"
  >
    <p>ISRAEL RELOCATION</p>
  </div>
</h3>
<div
  class="xb-paragraph xb-typo id_m9knmccl94q45" style="--xb-paragraph-drop-cap-color:#fc1010;--xb-paragraph-drop-cap-size-desktop:50px;"   
  tabindex="-1"
>
  <div text-binding="text"><p>We were never ready to stop but Santa was. So we came back to Israel. For many reasons. But the biggest one? We weren’t done partying.</p></div>
</div>

  
  
</div>

</div>
<div
  class="xb-timeline__content xb-timeline__content--odd id_m9knmccl95eio" style="--xb-timeline-color:rgba(49, 58, 224, 1);"   
>
  <div class="xb-timeline__marker id_m9knmccl96vjd"><div
  class="xb-icon xb-icon--modifier-01 id_m9knmccl9773g"   
>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"/></svg>
</div>
</div>
<div
  class="xb-wrapper xb-timeline__block id_m9knmccl980hs" style="--xb-wld:column;--xb-wvsd:0undefined;--xb-whsd:15px;--xb-wvst:0undefined;--xb-wvsm:0undefined;--xb-whst:15px;--xb-whsm:15px;--xb-wwd:100%;--xb-wwt:100%;--xb-wwm:100%;--xb-wvad:none;--xb-wvat:none;--xb-wvam:none;--xb-whad:start;--xb-what:start;--xb-wham:start;--xb-wwrd:wrap;--xb-wwrt:wrap;--xb-wwrm:wrap;--xb-wz:1;--xb-wpt:relative;"   
  
>
  <h3
  class="xb-heading xb-h3 id_m9knmccl99sp9" style="--color-hover:#12b939;--line-color:#12b939;--line-height:1px;"   
>
  <div
    class="xb-heading__text"
    
    text-binding="title"
    tabindex="-1"
  >
    OPENEING ISRAEL AND TAMU COLLAB
  </div>
</h3>
<div
  class="xb-paragraph xb-typo id_m9knmccl100j81" style="--xb-paragraph-drop-cap-color:#fc1010;--xb-paragraph-drop-cap-size-desktop:50px;"   
  tabindex="-1"
>
  <div text-binding="text"><p>What a night with Red Axes! The energy, the music, and the crowd were insane. We launched our brand collab with Tamu, and we can’t wait to show you the clothing line we’ve been working on.</p></div>
</div>

  
  
</div>

</div>

</div>
<div
  class="xb-wrapper id_m9knmccl78s46" style="--xb-wld:column;--xb-wvsd:15px;--xb-whsd:15px;--xb-wvst:15px;--xb-wvsm:15px;--xb-whst:15px;--xb-whsm:15px;--xb-wwd:100%;--xb-wwt:100%;--xb-wwm:100%;--xb-wvad:center;--xb-wvat:center;--xb-wvam:center;--xb-whad:start;--xb-what:start;--xb-wham:start;--xb-wwrd:wrap;--xb-wwrt:wrap;--xb-wwrm:wrap;--xb-wz:1;--xb-wpt:relative;"   
  
>
  <div
  class="xb-heading xb-div id_m9knmccl79ifh" style="--color-hover:#12b939;--line-color:#12b939;--line-height:1px;"   
>
  <div
    class="xb-heading__text"
    
    text-binding="title"
    tabindex="-1"
  >
    <p>More about us</p>
  </div>
</div>
<h2
  class="xb-heading xb-h2 id_m9knmccl80bc2" style="--color-hover:#12b939;--line-color:#12b939;--line-height:1px;"   
>
  <div
    class="xb-heading__text"
    
    text-binding="title"
    tabindex="-1"
  >
    WONDERLAND TIMELINE<p></p>
  </div>
</h2>

  
  
</div>
<div 
  xo-column 
  class="xb-column id_m9knmccl81ozr" 
  style="--xb-span-col-desktop:1;--xb-span-col-tablet:1;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:auto;" 
  false
></div>

  </div>

      
      
      
      
      
      
    </section>
<script src="{{ 'xb-2fd597d2.min.js' | asset_url }}" defer="defer"></script>
    {% schema %}
    {
      "name": "[XB]TIMELINE",
      "settings": [
        {
          "type": "header",
          "content": "Edit this page in [XO Builder](https://admin.shopify.com/store/tb96ax-p6/apps/xo-builder/app/page-editor/680057167d2260f92fd597d2) app"
        }
      ]
      
      
    }
    {% endschema %}
    